<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newcoder.community.dao.DiscussPostMapper">
    <sql id="selectFields">
        id,user_id,title,content,type,status,create_time,score
    </sql>

    <sql id="insertDiscussPost">
        user_id,title,content,type,status,create_time,score
    </sql>

    <insert id="insertDiscussPost" parameterType="discussPost" keyProperty="id">
        insert into  discuss_post (<include refid="insertDiscussPost"></include>)
        values (#{userId},#{title},#{content},#{type},#{status},#{createTime},#{score})
    </insert>


    <select id="selectDiscussPost" resultType="discussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where
        <if test="userId!=0">
            user_id = #{userId} and
        </if>
        status != 2
        order by type desc,create_time asc
        limit #{offset},#{limit}

    </select>
    <select id="selectCountRows" resultType="int">
        select count(user_id)
        from discuss_post
        where
        <if test="userId != 0">
             user_id = #{userId} and
        </if>
              status != 2

    </select>
</mapper>
